* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: row;

}
:root {
  --main-color: #2b6cb0;
  --second-color: #2d3748;
}


/*formulario de publicao de postagens*/
header {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1a365d;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: var(--second-color);
  font-size: 0.9rem;
  margin-bottom: -10px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.2);
}

form button {
  background-color: var(--main-color);
  /* Azul Principal */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s active;
  margin-top: 10px;
}

form button:hover {
  background-color: #205287;
}

button:active {
  transform: scale(0.98);
}

/*Article section*/
#article-section {
  width: 100%;
}
#articles-container {
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}
#articles-container article {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-bottom: 4px solid var(--main-color);
}
.post-title {
  color: var(--main-color);
  margin-bottom: 10px;
}